.wrapper {
   margin-top: 80px;
   margin-bottom: 80px;
}

.form-signin {
   font-family: 'Fira Sans', sans-serif;
   display: flex;
   flex-direction: column;
   max-width: 340px;
   padding: 15px 35px 45px;
   margin: 0 auto;

   .form-signin-heading,
   .checkbox {
      font-weight: 500;
      margin-bottom: 30px;
   }

   .checkbox {
      font-size: 20px;
      font-weight: normal;
   }

   .form-control {
      margin: 10px 0;
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;

      &:focus {
         z-index: 2;
      }
   }

   .btn {
      width: 100%;
      background: transparent;
      border: 1px solid black;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1.4em;
      padding: 0;
      line-height: 40px;
      vertical-align: top;
      outline: none;
   }

   input[type="checkbox"] {
      opacity: 0.5;
   }

   input[type="checkbox"]:checked {
      opacity: 1;
   }

   input[type="text"] {
      outline: none;
      background-color: transparent;
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
   }

   input[type="email"] {
      outline: none;
      background-color: transparent;
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
   }

   input[type="password"] {
      outline: none;
      background-color: transparent;
      margin-bottom: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
   }
}